<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/navigation') %>
    <h1>HOLA MUNDO</h1>
    <p>cuacuacuasi</p>
    <div>
        <img src="/src/public/img/tu-imagen.jpg.png" alt="Descripción de la imagen">
    </div>
</body>
</html>